-content_for :head do
  %title CS 188 Exercises
%h1{:style=>"font-size: 40px;"}
  %center
    CS 188 Artificial Intelligence: Interactive Demos
%br
%br
%h1{:style=>"font-size: 25px;"}
  %center
    Authors: Abhishek Gupta, Pieter Abbeel, Dan Klein, Arjun Singh
%br
%br
%ul{:style=>"position:relative; left:270px;list-style-type:circle;"}
  %li= link_to "Constraint Satisfaction Problems (beta release)", "/exercises/csps/forward_checking/forward_checking.html"
  %li= link_to "Bayes Nets (beta Release)", "/exercises/bayesNets/BNToolbox.html"
%br
%br
%footer{:style=>"font-size: 13px;"}
  %center
    %div{:style=>"font-size: 8px;"}
      Copyright &copy; UC Berkeley CS 188, Fall 2012
