body #content #calculatorContainer {
	text-align: center;
	display: -moz-inline-box;
	-moz-box-orient: vertical;
	display: inline-block;
	vertical-align: middle;
	*vertical-align: auto;
	border: 2px solid #24c;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	padding: 3px;
	background-color: #fff;
	z-index: 50
}
body #content #calculatorContainer.hidden {
	display: none
}
body #content #calculatorContainer {
	*display: inline
}
body #content #calculatorContainer input#calculator {
	margin-top: 10px;
	border: 1px solid #000;
	width: 150px
}